@media (min-width: 576px) {
  .VPSidebar:hover::-webkit-scrollbar {
    display: block;
  }

  .VPSidebar::-webkit-scrollbar {
    display: none;
    width: 10px;
    background: transparent;
  }

  .VPSidebar::-webkit-scrollbar-thumb {
    background: var(--vt-c-text-4) content-box;
    border: 2px solid transparent;
    border-radius: 5px;
  }

  .VPSidebar::-webkit-scrollbar-thumb:hover {
    background: var(--vt-c-text-3) content-box;
  }

  .vt-doc [class*='language-'] {
    padding: 6px;
  }

  .vt-doc [class*='language-'] pre {
    padding: 8px 18px;
  }

  .vt-doc [class*='language-'] pre::-webkit-scrollbar {
    height: 6px;
    background: transparent;
  }

  .vt-doc [class*='language-'] pre::-webkit-scrollbar-thumb {
    background: var(--vt-c-text-inverse-3) content-box;
    border: 0px solid transparent;
    border-radius: 3px;
  }

  .vt-doc [class*='language-'] pre::-webkit-scrollbar-thumb:hover {
    background: var(--vt-c-text-inverse-2) content-box;
  }
}

body::-webkit-scrollbar-thumb {
  background: var(--vt-c-text-4) content-box;
  border: 2px solid transparent;
  border-radius: 5px;
}

body::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--vt-c-text-3) content-box;
}

.VPApp .VPLocalNav {
  top: var(--vt-banner-height, -1px);
}

.VPContentDoc .container .content {
  flex: 1;
}
